{% extends '::base.html.twig' %}

{% block headline %}
    {{ entity.titre }}
{% endblock %}


{% block content -%}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Description du stage : </th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ entity.datedebut|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ entity.datefin|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Compétences demandés : </th>
                <td>{{ entity.competences }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ entity.lieu }}</td>
            </tr>
            <tr>
                <th>Remuneration</th>
                <td>{{ entity.remuneration }} €</td>
            </tr>
            <tr>
                <th>Convention de stage : </th>
                {% if entity.conventionDeStage %}
                    <td>Obligatoire</td>
                {% else %}
                    <td>Facultatif</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
<p class="text-right"> Publié le {{ entity.datepublication|date('d-m-Y') }} </p>

        <ul class="record_actions">
    <li>
        <a href="{{ path('stage') }}">
            Retour
        </a>
    </li>
   {# <li>
        <a href="{{ path('stage_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>#}
</ul>
{% endblock %}
