{% extends '::base.html.twig' %}

{% block headline %}
    {{ stage.titre }}
{% endblock %}


{% block content -%}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Description du stage : </th>
                <td>{{ stage.description|raw }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ stage.datedebut|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ stage.datefin|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Compétences demandés : </th>
                <td>{{ stage.competences}}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ stage.lieu }}</td>
            </tr>
            <tr>
                <th>Remuneration</th>
                <td>{{ stage.remuneration }} €</td>
            </tr>
            <tr>
                <th>Convention de stage : </th>
                {% if stage.conventionDeStage %}
                    <td>Obligatoire</td>
                {% else %}
                    <td>Facultatif</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
<p class="text-right"> Publié le {{ stage.datepublication|date('d-m-Y H:i') }} par {{ stage.utilisateurCreateur }} </p>

   <ul class="record_actions">
       <li>
           <a href="mailto:{{stage.utilisateurCreateur.email}}">Contacter</a>
       </li>
    <li>
        <a href="{{ path('stage') }}">
            Retour
        </a>
    </li>
</ul>
{% endblock %}
