{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Stage</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{{ entity.datedebut|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Date_fin</th>
                <td>{{ entity.datefin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Competences</th>
                <td>{{ entity.competences }}</td>
            </tr>
            <tr>
                <th>Date_publication</th>
                <td>{{ entity.datepublication|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ entity.lieu }}</td>
            </tr>
            <tr>
                <th>Remuneration</th>
                <td>{{ entity.remuneration }}</td>
            </tr>
            <tr>
                <th>Conventiondestage</th>
                <td>{{ entity.conventionDeStage }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ entity.active }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('stage') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('stage_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
