<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{stage.titre}}</h3>
  </div>
  <div class="panel-body">
    {{stage.description}}
      <div class="pull-right">
          <ul class="list-inline">
              <li><a href="{{ path('stage_edit', { 'id': stage.id }) }}" >{{icon('edit')}} Modifier</a></li>
              <li><a href="{{ path('stage_show', { 'id': stage.id }) }}" >{{icon('hand-o-right')}} Plus d'infos</a></li>
          </ul>
            
      </div>
  </div>

</div>