{% extends '::base.html.twig' %}
{% block title %}Modification{% endblock %}
{% block headline %}
    Modification du mémoire
{% endblock %}

{% block content %}
<div class="col-lg-6">
    <form action="{{ path('memoire_update', { 'id' : memoire.id } ) }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <div class="form-actions">
            <a href="{{ path('memoire')}}" class="btn btn-default">{{ icon('chevron-left') }} Retour</a>
            <button type="submit" class="btn btn-primary">{{ icon('save') }} Enregistrer</button>
            <a href="{{ path('memoire_delete', {'id': stage.id } ) }}" class="btn btn-danger">{{ icon('trash')}} Supprimer</a>
        </div>
    </form>
</div>
{% endblock %}