    <div class="col-md-12">
        {% if memoires %}
            <table id="memoires" class="memoires">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Année</th>
                        <th>Fichier</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Année</th>
                        <th>Fichier</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for memoire in memoires %}
                        <tr class="clickable-row" data-href="{{path('memoire_show', {'id':memoire.id})}}">
                            <td>{{memoire.nom}}</td>
                            <td>{{memoire.description}}</td>
                            <td>{{memoire.StringAnnee}}</td>
                            <td>
                            {% if memoire.isMemoireExist() %}
                                <a href="{{path('memoire_download', { 'id': memoire.id } )}}" >{{icon('file-pdf-o')}} Télécharger</a>
                            {% else %}
                                Pas de fichier
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <em>Pas de mémoires</em>
        {% endif %}
    </div>