<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">{{memoire.nom}} <small>{{memoire.stringannee}}</small></h3>
  </div>
  <div class="panel-body">
    {{memoire.description}}
      <div class="pull-right">
          <ul class="list-inline">
              <li><a href="{{ path('memoire_edit', { 'id': memoire.id }) }}" >{{icon('edit')}} Modifier</a></li>
              <li><a href="{{ path('memoire_show', { 'id': memoire.id }) }}" >{{icon('hand-o-right')}} Plus d'infos</a></li>
          </ul>
            
      </div>
  </div>

</div>