{% extends '::base.html.twig' %}
{% form_theme form _self %}
{% block title %}Création mémoire{% endblock %}
{% block headline %}
    NOUVEAU MEMOIRE
{% endblock %}
{% block content %}
<div class="col-lg-8">
    <form style="margin-left:200px;" action="{{ path('memoire_create') }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class="form-actions">
			<a href="{{ path('memoire')}}" class="btn btn-default">{{icon('chevron-left')}} Retour</a>
            <button type="submit" class="btn btn-primary">{{icon('save') }} Enregistrer</button>
        </div>
    </form>
	<br/>
</div>
{% endblock %}