{% extends '::base.html.twig' %}
{% block title %}
    Mémoire
{% endblock %}
{% block headline %}
    Mémoire : {{ memoire.nom }}
{% endblock %}

{% block content -%}
    <table class="table record_properties">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ memoire.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ memoire.description }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ memoire.annee }}</td>
            </tr>
            <tr>
                <th>Télécharger</th>
                <td>
                    {% if memoire.isMemoireExist() %}
                       <a href="{{path('memoire_download', { 'id': memoire.id } )}}" >{{icon('file-pdf-o')}} Télécharger</a>
                    {% else %}
                        Pas de fichier
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

<p class="text-right"> Publié le {{ memoire.datecreation|date('d-m-Y H:i') }} par {{ memoire.utilisateurCreateur }} </p>
<div class="actions">
        <a class="btn btn-default" href="{{ path('memoire') }}">{{icon('chevron-left')}} Retour</a>
        {% if app.user == memoire.utilisateurCreateur or is_granted('ROLE_ADMIN') %}
            <a class="btn btn-default" href="{{ path('memoire_edit', { 'id': memoire.id } )}}">{{icon('pencil')}} Modifier</a>
            <a class="btn btn-danger" href="{{ path('memoire_delete', { 'id': memoire.id } )}}">{{icon('trash')}} Supprimer</a>
        {% endif %}
</div>
{% endblock %}
