{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'Nom d\'utilisateur'|trans }}: {{ user.username }}</p>
    <p>{{ 'Nom'|trans }}: {{ user.nom }}</p>
    <p>{{ 'Prénom'|trans }}: {{ user.prenom }}</p>
    <p>{{ 'Adresse'|trans }}: {{ user.adresse1 }}</p>
    <p>{{ 'Complément d\'adresse'|trans }}: {{ user.adresse2 }}</p>
    <p>{{ 'Code postal'|trans }}: {{ user.codepostal }}</p>
    <p>{{ 'Ville'|trans }}: {{ user.ville }}</p>
    <p>{{ 'Téléphone'|trans }}: {{ user.telephone }}</p>
    <p>{{ 'Email'|trans }}: {{ user.email }}</p>
</div>
<div>
    <form action="{{ path('fos_user_change_password') }}">
        <input type="submit" value="{{ 'change_password.submit'|trans }}"/>
    </form>

    <form action="{{ path('fos_user_profile_edit') }}">
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
    </form>
</div>
