<article class="commentaire" id="commentaire-{{commentaire.id}}">
    <header>
        <span class="comment-author">{{commentaire.utilisateurcreateur}}</span> - <span class="comment-date">{{commentaire.datecreation|date('d/m/Y H:i') }}</span>
    </header>
      <div class="comment-body">
        <div class="comment-text">
          <div class="restform">
            <p>{{commentaire.texte}}</p>
          </div>
        </div>
      </div>
      {% if app.user == commentaire.utilisateurcreateur or is_granted('ROLE_ADMIN') %}
          <a href="{{path('commentaire_edit', { 'id': commentaire.id } ) }}">{{icon('pencil')}} Modifier</a>
          <a href="{{path('commentaire_delete', { 'id': commentaire.id } ) }}">{{icon('trash')}} Supprimer</a>
      {% endif %}
</article>