{% extends '::base.html.twig' %}
{% form_theme form _self %}
{% block title %}Modification{% endblock %}
{% block headline %}Modification du sujet : {{entity.nom}}{% endblock %}
{% block content -%}
    {{ form(edit_form) }}
    <button class="btn btn-primary" href="{{path('sujet')}}">{{icon('chevron-left')}} Retour</button>
    <button class="btn btn-danger" href="{{path('sujet_delete', { 'id' : entity.id } ) }}">{{icon('trash')}} Supprimer</button>
{% endblock %}
