{% extends '::base.html.twig' %}
{% block title %}Modification{% endblock %}
{% block headline %}Modification du sujet : {{sujet.nom}}{% endblock %}

{% block content %}
<div class="col-lg-6">
    <form action="{{ path('sujet_update', { 'id' : sujet.id } ) }}" class="form-horizontal" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}

        <div class="form-actions">
            <a href="{{ path('sujet')}}" class="btn btn-default">{{ icon('chevron-left') }} Retour</a>
            <button type="submit" class="btn btn-primary">{{ icon('save') }} Enregistrer</button>
            <a href="{{ path('sujet_delete', {'id': sujet.id } ) }}" class="btn btn-danger">{{ icon('trash')}} Supprimer</a>
        </div>
    </form>
</div>
{% endblock %}
