{% extends '::base.html.twig' %}
{% block title %}Sujet de mémoire{% endblock %}
{% block headline %}Sujet : {{entity.nom}}{% endblock %}
{% block content -%}
    {% if entity.validation %}
        Ce sujet est validé !
        {% else %}
            Ce sujet n'est pas validé
        {%endif%}
        <div class="well">
            <p>{{entity.description}}</p>
        </div>
    <p class="text-right">Publié le {{ entity.datecreation|date('d-m-Y') }} par {{ entity.utilisateurCreateur }} </p>


        <ul class="record_actions">
    <li>
        <a href="{{ path('sujet') }}">
            Retour
        </a>
    </li>
    <li>
        <a href="{{ path('sujet_edit', { 'id': entity.id }) }}">
            Modifier
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
