{% extends '::base.html.twig' %}
{% block title %}Sujet de mémoire{% endblock %}
{% block headline %}Sujet : {{entity.nom}}{% endblock %}
{% block content -%}
    {% if entity.validation %}
        Ce sujet est validé !
        {% else %}
            Ce sujet n'est pas validé
        {%endif%}
        <div class="well">
            <p>{{entity.description}}</p>
        </div>
    <p class="text-right">Publié le {{ entity.datecreation|date('d-m-Y') }} par {{ entity.utilisateurCreateur }} </p>
    <section class="col-md-12 col-sm-12 comments">
        <header>
            <h2>Commentaires</h2>
        </header>
            {% for commentaire in commentaires %}
                {% include "StagiaAppBundle:Sujet:commentaire.html.twig" with {'commentaire': commentaire} %}
            {% else %}
                <em>Pas de commentaires</em>
            {% endfor %}

        {% if app.user %}
            {% include "StagiaAppBundle:Sujet:commentaireform.html.twig" with {'form': commentaireform, 'sujet_id': entity.id} %}
        {% endif %}
    </section>

    <button class="btn btn-primary" href="{{ path('sujet') }}" >{{icon('chevron-left')}} Retour</button>
    <button class="btn btn-default" href="{{ path('sujet_edit', { 'id': entity.id } )}}">{{icon('pencil')}} Modifier</button>
    <button class="btn btn-danger" href="{{ path('sujet_delete', { 'id': entity.id } )}}">{{icon('trash')}} Supprimer</button>
{% endblock %}
